2019vxmchisquare_beforeafter.png 2019vxmchisquare_goodbad.png 2020jfochisquare_beforeafter.png 2020jfochisquare_goodbad.png 2020lsechisquare_beforeafter.png 2020lsechisquare_goodbad.png chisquare_histogram.png
__pycache__
brightsne.zip
brightsne.zip
.DS_Store
2019vxmchisquare_beforeafter.png 2019vxmchisquare_goodbad.png 2020jfochisquare_beforeafter.png 2020jfochisquare_goodbad.png 2020lsechisquare_beforeafter.png 2020lsechisquare_goodbad.png chisquare_histogram.png
tns_api_key.txt
sample_data.txt tns_api_key.txt
sample_data.txt tns_api_key.txt -r
chisquarecut.ipynb
chisquarecut.ipynb
chisquarecut.ipynb
uncertaintycut.ipynb
